In [7]:
import pandas as pd

places_df_path = 'data/data_places.xlsx'
places = pd.read_excel(places_df_path)

places.head()

   user  place  rating
0     1      1       4
1     2      1       4
2     3      1       5
3     4      1       4
4     5      1       3

   user  place  rating
0     1      1       4
1     2      1       4
2     3      1       5
3     4      1       4
4     5      1       3